<header class="headerWeb">
    <img src="https://png.pngtree.com/png-vector/20220609/ourmid/pngtree-alcohol-bottle-icon-outline-vector-png-image_4948431.png" alt="Logo de la empresa">
    <h1>Cubata-Maker</h1>
    <nav class="navegacion">
        <a routerLink="/home" routerLinkActive="active" class="button button1">HOME</a>
        <a routerLink="/formulario" routerLinkActive="active" class="button button2">CREALO</a>
        <a routerLink="/datos" routerLinkActive="active" class="button button3">DESCUBRE</a>
    </nav>
  </header>
  

    
