.content{
    background-image: url(https://media.istockphoto.com/id/1370333148/es/vector/los-iconos-del-gabinete-de-vino-establecen-el-vector-de-contorno-alcohol-de-estante.jpg?s=612x612&w=0&k=20&c=-PQbiCi0omNUok2dI8qvPFJYB5M6inKF2vej3MNMdjk=);
    height: 35vw;
    border: solid black 3px;
    display: flex;
    justify-content: center;
    align-items: center;
    color:red;
}